<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxAuthClient" parallel="false">

    <test name="JsonApplier Client test" enabled="true">
        <classes>
            <class name="org.gluu.oxauth.json.JsonApplierTest"/>
        </classes>
    </test>

    <!-- Address claims test -->
    <test name="Address claims test (HTTP)" enabled="true">
        <classes>
            <class name="org.gluu.oxauth.ws.rs.AddressClaimsTest"/>
        </classes>
    </test>

</suite>
